@import "tailwindcss";
@import url(https://db.onlinewebfonts.com/c/b0c178a6bf63dc134f142a232e2f7241?family=Arabic);

.arabic {
  font-family: "Arabic", serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes listAnimation {
  0% {
    opacity: 0;
    transform: scale(.8)
  }
  20% {
    opacity: 1;
    transform: scale(1)
  }
  80% {
    opacity: 1;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    transform: scale(.8)
  }
}

.animate-listAnimation {
  animation: listAnimation 1s linear forwards;
  animation-timeline: view();
}